- title "Customers"
- submenu do
  = link_to 'New Customer', new_customer_path, class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Card number
      %th Name
      %th Email
      %th
      %th
      %th
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.card_number
        %td= customer.name
        %td= customer.email
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }
