%p#notice= notice

%p
  %b Card number:
  = @customer.card_number
%p
  %b Name:
  = @customer.name
%p
  %b Email:
  = @customer.email

%h4 Check-ins
%ul
  - @customer.checkins.reverse.each do |checkin|
    %li= l checkin.created_at

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
