!!!
%html
  %head
    %title= yield(:title)
    %meta{name: "viewport", content: "width=device-width, scale=1.0"}
    = stylesheet_link_tag "mobile", :media => "all"
    = javascript_include_tag "mobile"
    = csrf_meta_tags
  %body
    = yield
